.number
  padding: 0 27px
  margin: 0
  position: relative
  &__plus,&__minus
    user-select: none
    position: absolute
    width: 27px
    top: 0
    bottom: 0
    cursor: pointer
    border: 1px solid #D8D8D8
  &__plus
    right: 0
    border-left: 0
    border-radius: 0 2px 2px 0
  &__minus
    left: 0
    border-right: 0
    border-radius: 2px 0 0 2px

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield
