.select2-selection
  border: 0!important
  border-bottom: 1px solid #000000!important
  border-radius: 0 !important

.select2-container--focus
  border: 0 !important

.select2-selection--multiple
  border: 0 !important

.select2-selection__arrow b
  border: 0 !important
  left: auto!important
  margin: 0 !important
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  margin-left: 5px
  width: 10px!important
  height: 6px!important
  background: url("../img/arrow-down.png") 50% 50% no-repeat!important

.select2-container--open .select2-selection__arrow b
  transform: rotate(180deg) translateY(50%)

.select2-selection__rendered
  padding-left: 2px !important
  font-size: 16px!important

.select2-selection__placeholder
  color: $font-gray !important

.select2-border
  .select2-selection
    border: 1px solid #D8D8D8 !important
    padding-left: 16px
  .select2-selection__rendered
    padding-right: 30px !important
  .select2-selection__arrow b
    margin-right: 7px !important

.select
  min-width: 50px
  &--no-border + .select2
    .select2-selection
      border: none !important

.select2-dropdown
  border: 1px solid #aaa !important