@import "select2"
@import "number"

input
  border: 0
  &:focus
    outline: none

.input
  width: 100%
  display: inline-block
  font-size: 16px
  color: $font-gray
  border-bottom: 1px solid #000
  &::placeholder
    color: $font-gray

.input-row
  margin-bottom: 24px

.input-arrow
  display: inline-block
  margin: 0
  padding-right: 15px
  margin-right: 15px
  position: relative
  &:after
    content: ''
    top: 50%
    transform: translatey(-50%)
    margin-left: 5px
    position: absolute
    vertical-align: middle
    display: inline-block
    width: 10px
    height: 6px
    background: url("../img/arrow-down.png") 50% 50% no-repeat

.input-row
  display: flex

.input-border
  border: 1px solid #D8D8D8
  border-radius: 2px
  width: 100%
  font-size: 16px
  color: #000
  padding: 0 3px

.date-border
  border: 1px solid #D8D8D8
  padding: 3px 26px 3px 16px