.image-uploader
  display: flex
  flex-wrap: wrap
  margin: 0 -12px
  &__image
    border-radius: 16px
    width: 100%
    height: 100%
    object-fit: cover
  &__item
    width: 184px
    height: 112px
    position: relative
    margin: 0 12px 24px 12px
  &__icon
    display: inline-block
    width: 32px
    height: 32px
    background-repeat: no-repeat
    background-position: 50%
    object-fit: contain
  &__info
    position: absolute
    text-align: center
    top: 50%
    left: 0
    right: 0
    transform: translateY(-50%)
  &__new-image
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: #717171
    border-radius: 16px
    cursor: pointer
    transition: .2s
    &:hover
      background: lighten(#717171, 10)
  &__info-text
    color: #f2f2f2
    font-size: 16px

.image-remove
  position: absolute
  width: 24px
  height: 24px
  border-radius: 100%
  background: url("../img/close.svg") 50% no-repeat $font-gray
  right: -12px
  top: -12px
  cursor: pointer