.table
  width: 100%
  table-layout: fixed
  
.table-header
  &__item
    background: $font-gray
    color: #ffffff
    padding: 5px 5px
    text-align: center
    border-left: 1px solid #fff
    font-weight: 500
    font-size: 16px
    height: 83px
    &:first-child
      border-left: 0
    &--control
      width: 100px
      border-left: 0

.table-body
  &__item
    background: #fff
    border-left: 1px solid #d8d8d8
    border-bottom: 1px solid #d8d8d8
    padding: 7px 9px 7px 32px
    font-size: 16px
    color: $font-gray
    vertical-align: middle
    height: 83px
    &:first-child
      border-left: 0
    &.tac
      padding-left: 10px
      padding-right: 10px
    &--control
      border-left: 0!important
      padding-right: 20px!important


.common-info
  &__col
    padding: 0 32px 15px 0
    &--title
      font-weight: 500
      font-size: 16px

.preview-info
  margin-left: 24px
  font-size: 16px
  &__title
    display: inline-block
    font-weight: 500
    font-size: 20px
    margin: 0 0 16px 24px
  &__title-edit
    width: 100%
    color: $font-gray
  &__col
    padding-bottom: 8px
    vertical-align: top
  &__row:last-child &__col
    padding-bottom: 0