@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <a href="#" class="back-link"></a>
                <h1 class="page-title">Карточка публикации</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--border-black">Удалить</a>
            </div>
        </header>
        <main class="main">
            <div class="publish-single">
                <div class="preview-sect">
                    <div class="preview">
                        <div class="image-preview-wrap image-preview-wrap--big">
                            <img src="img/preview.jpg" alt="" class="image-preview">
                        </div>
                        <div class="preview-info-with-title">
                            <span class="preview-info__title">Кератиновое выпрямление</span>
                            <div class="user-info">
                                <span class="user-info__row"><span class="bold">Email:</span> masha1992@mail.ru</span>
                                <span class="user-info__row"><span class="bold">Номер телефона:</span> +7 (205) 555-0100</span>
                                <span class="user-info__row"><span class="bold">Номер телефона:</span> +7 (205) 555-0100</span>
                                <span class="user-info__row"><span class="bold">Номер телефона:</span> +7 (205) 555-0100</span>
                                <span class="user-info__row"><span class="bold">Номер телефона:</span> +7 (205) 555-0100</span>
                                <span class="user-info__row"><span class="bold">Номер телефона:</span> +7 (205) 555-0100</span>
                            </div>
                        </div>
                    </div>
                    <div class="preview-btn-wrap">
                        <button class="button button--red">Редактировать</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
