@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Публикации</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--black">Добавить</a>
            </div>
        </header>
        <main class="main">
            <div class="publish-list">
                <form action="/" class="top-control">
                    <div class="filter-buttons-list">
                        <a href="#" class="filter-button active">Все</a>
                        <a href="#" class="filter-button">На модерации</a>
                        <a href="#" class="filter-button">Активные</a>
                        <a href="#" class="filter-button">Заблокированные</a>
                    </div>
                </form>
                <div class="list">
                    <div class="list__content employee-list">
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-item employee-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <div>
                                        <span class="list-item__row-text">Парикмахер</span><br>
                                        <div class="rating" data-score="4"></div>
                                    </div>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text">Адрес: ул. Лесная, д.3, кв. 5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__bottom">
                        <nav class="pagination-wrap">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Пред.</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item ">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">След.</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
