<h2>CRM</h2>
<h3>Заказы</h3>
<p>
    <a target="_blank" href="/html/order-calendar.html">order-calendar.html</a>
</p>
<p>
    <a target="_blank" href="/html/order-list.html">order-list.html</a>
</p>
<p>
    <a target="_blank" href="/html/order-employee.html">order-employee.html</a>
</p>
<p>
    <a target="_blank" href="/html/order-single.html">order-single.html</a>
</p>
<h3>Отзывы</h3>
<p>
    <a target="_blank" href="/html/review-list.html">review-list.html</a>
</p>
<h3>Клиенты</h3>
<p>
    <a target="_blank" href="/html/clients.html">clients.html</a>
</p>
<p>
    <a target="_blank" href="/html/client-single.html">client-single.html</a>
</p>
<p>
    <a target="_blank" href="/html/client-single-edit.html">client-single-edit.html</a>
</p>
<h3>Публикации</h3>
<p>
    <a target="_blank" href="/html/publish-list.html">publish-list.html</a>
</p>
<p>
    <a target="_blank" href="/html/publish-single.html">publish-single.html(сборник всех блоков)</a>
</p>
<p>
    <a target="_blank" href="/html/publish-single-edit.html">publish-single-edit.html(сборник всех блоков)</a>
</p>
<h3>Салон</h3>
<p>
    <a target="_blank" href="/html/salon-single.html">salon-single.html</a>
</p>
<h3>Услуги</h3>
<p>
    <a target="_blank" href="/html/services.html">services.html</a>
</p>
<p>
    <a target="_blank" href="/html/services-single.html">services-single.html</a>
</p>
<h3>Пользователи</h3>
<p>
    <a target="_blank" href="/html/staff-list.html">user-list.html</a>
</p>
<p>
    <a target="_blank" href="/html/user-list.html">user-list.html</a>
</p>
<p>
    <a target="_blank" href="/html/user-single.html">user-single.html</a>
</p>