@@include('./parts/header.html')
<script src="https://api-maps.yandex.ru/2.1/?apikey=1888d523-0c7c-4180-8bb7-7489afc9c71d&lang=ru_RU" type="text/javascript"></script>
<button id="save-addr">Сохранить адрес</button>
<div id="map" style="width: 1600px; height: 1400px"></div>
@@include('./parts/footer.html')
