@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <h1 class="page-title">Заказы</h1>
            <div class="top-menu">
                <a href="#" class="top-menu__item">Календарь</a>
                <a href="#" class="top-menu__item active">Список</a>
                <a href="#" class="top-menu__item">По сотрудникам</a>
            </div>
        </header>
        <main class="main">
            <div class="orders-list">
                <form action="/" class="order-top">
                    <div class="order-top__inner">
                        <div class="input-row">
                            <div class="date-created">
                                <span class="date-created__title">Дата создания c </span>
                                <label class="input-arrow">
                                    <input type="text" placeholder="дд.мм.гггг" class="date-created__input date">
                                </label>
                                по
                                <div class="input-arrow">
                                    <input type="text" placeholder="дд.мм.гггг" class="date-created__input date">
                                </div>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="mr90">
                                <select name="employee" data-placeholder="Выберите сотрудника" class="select w320" id="">
                                    <option></option>
                                    <option value="1">Иванов Виктор Иванович</option>
                                    <option value="2">Сидоров Иван Николаевич</option>
                                    <option value="3">Петров Петр Петрович</option>
                                </select>
                            </div>
                            <div class="mr90">
                                <select name="employee" data-placeholder="Выберите пользователя" class="select w320" id="">
                                    <option></option>
                                    <option value="1">Пользователь 1</option>
                                    <option value="2">Пользователь 2</option>
                                    <option value="3">Пользователь 3</option>
                                </select>
                            </div>
                            <div>
                                <select name="employee" data-placeholder="Выберите услугу" class="select w320" id="">
                                    <option></option>
                                    <option value="1">Услуга 1</option>
                                    <option value="2">Услуга 2</option>
                                    <option value="3">Услуга 3</option>
                                    <option value="4">Услуга 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-row">
                            <input type="text" placeholder="Введите имя или телефон клиента" class="input">
                        </div>
                        <div class="input-row">
                            <div class="mr50">
                                <select name="employee" data-placeholder="Выберите время визита" class="select w250">
                                    <option></option>
                                    <option value="1">09:00</option>
                                    <option value="2">10:00</option>
                                    <option value="2">11:00</option>
                                    <option value="2">12:00</option>
                                    <option value="2">13:00</option>
                                </select>
                            </div>
                            <div class="mr50">
                                <select name="employee" data-placeholder="Выберите источник" class="select w250">
                                    <option></option>
                                    <option value="1">Мобильное приложение</option>
                                    <option value="1">Веб сайт</option>
                                </select>
                            </div>
                            <div class="mr50">
                                <select name="employee" data-placeholder="Выберите статус" class="select  w250">
                                    <option></option>
                                    <option value="1">Клиент пришел</option>
                                    <option value="1">Клиент не пришел</option>
                                </select>
                            </div>
                            <button class="button button--black mla">Применить</button>
                        </div>
                    </div>

                </form>
                <table class="table">
                    <tr class="table-header">
                        <th class="table-header__item">Мастер</th>
                        <th class="table-header__item">Услуга</th>
                        <th class="table-header__item">Клиент</th>
                        <th class="table-header__item">Время визита</th>
                        <th class="table-header__item">Создал</th>
                        <th class="table-header__item">Статус визита</th>
                        <th class="table-header__item">Источник</th>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                    <tr class="table-body">
                        <td class="table-body__item">
                            <span class="order-list-img-wrap">
                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                            </span>Eleanor Mccoy
                        </td>
                        <td class="table-body__item">Lorem ipsum</td>
                        <td class="table-body__item tac">Marvin Lane<br>(205) 555-0100</td>
                        <td class="table-body__item">вс, 19-00</td>
                        <td class="table-body__item tac">Marvin Lane<br>вс, 19-00</td>
                        <td class="table-body__item">Клиент пришел</td>
                        <td class="table-body__item">
                            <span class="df jcsb">
                                Мобильное приложение
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
