@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <h1 class="page-title">Заказы</h1>
        </header>
        <main class="main">
            <div class="order-single">
                <div class="preview-sect">
                    <div class="preview">
                        <div class="image-preview-wrap image-preview-wrap--big">
                            <img src="img/preview.jpg" alt="" class="image-preview">
                        </div>
                        <table class="preview-info">
                            <tr class="preview-info__row">
                                <td class="preview-info__col pr32">Имя клиента: Алина</td>
                                <td class="preview-info__col">Email: alina@mail.ru</td>
                            </tr>
                            <tr class="preview-info__row">
                                <td class="preview-info__col pr32">Класс важности: высокий</td>
                                <td class="preview-info__col">Номер телефона: +375334908743</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Статус заказа</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="checkbox-row">
                            <label class="checkbox">
                                <input type="radio" name="status" checked value="1">
                                <span class="checkbox-mark"></span>Ожидаем клиента
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="status" value="2">
                                <span class="checkbox-mark"></span>Клиент подтвердил
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="status" value="3">
                                <span class="checkbox-mark"></span>Клиент пришел
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="status" value="4">
                                <span class="checkbox-mark"></span>Клиент не пришел
                            </label>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Услуги</span>
                    </div>
                    <table class="table">
                        <tr class="table-header">
                            <th class="table-header__item">Позиции в заказе</th>
                            <th class="table-header__item">Мастер</th>
                            <th class="table-header__item">Количество</th>
                            <th class="table-header__item">Цена, руб.</th>
                            <th class="table-header__item">Скидка, %</th>
                            <th class="table-header__item">Итого, руб.</th>
                        </tr>
                        <tr class="table-body">
                            <td class="table-body__item">
                                Покрытие (лак, лечебное)1
                            </td>
                            <td class="table-body__item tac">Мария<br>Иванова</td>
                            <td class="table-body__item tac">
                                <input type="number" value="1" class="input-border tac maw60">
                            </td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="500"></td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="20"></td>
                            <td class="table-body__item">
                            <span class="df jcsb">
                                <span class="fg1 tac">
                                    400
                                </span>
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                            </td>
                        </tr>
                        <tr class="table-body">
                            <td class="table-body__item">
                                Покрытие (лак, лечебное)2
                            </td>
                            <td class="table-body__item tac">Мария<br>Иванова</td>
                            <td class="table-body__item tac">
                                <input type="number" value="1" class="input-border tac maw60">
                            </td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="500"></td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="20"></td>
                            <td class="table-body__item">
                            <span class="df jcsb">
                                <span class="fg1 tac">
                                    400
                                </span>
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                            </td>
                        </tr>
                        <tr class="table-body">
                            <td class="table-body__item">
                                Покрытие (лак, лечебное)3
                            </td>
                            <td class="table-body__item tac">Мария<br>Иванова</td>
                            <td class="table-body__item tac">
                                <input type="number" value="1" class="input-border tac maw60">
                            </td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="500"></td>
                            <td class="table-body__item tac"><input type="text" class="input-border maw80 tac" value="20"></td>
                            <td class="table-body__item">
                            <span class="df jcsb">
                                <span class="fg1 tac">
                                    400
                                </span>
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
