@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <h1 class="page-title">Заказы</h1>
            <div class="top-menu">
                <a href="#" class="top-menu__item">Календарь</a>
                <a href="#" class="top-menu__item">Список</a>
                <a href="#" class="top-menu__item active">По сотрудникам</a>
            </div>
        </header>
        <main class="main">
            <div class="order-employee">
                <div class="order-top">
                    <div class="order-top__inner">
                        <div class="order-employee-top">
                            <div class="order-employee-calendar">
                                <div class="calendar" data-date='{"year":2015,"month":3}'></div>
                            </div>
                            <div class="order-employee-slider-wrap">
                                <span class="order-employee-slider__title">Сотрудники</span>
                                <script>
                                    //order-employee-slider-js - если 5 и более элементов
                                    //order-employee--no-slider - если 5 и более элементов
                                </script>
                                <div class="order-employee-slider order-employee-slider-js">
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link active">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="order-employee-item">
                                            <ul class="order-employee-slider-list">
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник2</span>
                                                    </a>
                                                </li>
                                                <li class="order-employee-slider-list__item">
                                                    <a href="#" class="order-employee-slider-list__link">
                                                         <span class="order-list-img-wrap">
                                                                <img src="img/order-list.jpg" class="order-list-img" alt="">
                                                        </span>
                                                        <span class="order-employee-slider-list__item-text">Сотрудник3</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <tr class="table-header">
                        <th class="table-header__item w100">Время</th>
                        <th class="table-header__item">Понедельник<br>9 сентября</th>
                        <th class="table-header__item">Вторник<br>10 сентября</th>
                        <th class="table-header__item">Среда<br>11 сентября</th>
                        <th class="table-header__item">Четверг<br>12 сентября</th>
                        <th class="table-header__item">Пятница<br>13 сентября</th>
                        <th class="table-header__item">Суббота<br>14 сентября</th>
                        <th class="table-header__item">Воскресение<br>15 сентября</th>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">8:00</td>
                        <td class="calendar-employee__td">
                            <div class="calendar-event" data-from='{"hour":8, "min":0}' data-to='{"hour":10, "min":0}'>
                                <header class="calendar-event__header">8:00  Новый сеанс</header>
                                <p class="calendar-event__body">Заказ на 3 часа: окраска и стрижка женская</p>
                            </div>
                        </td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">9:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">10:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">11:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">12:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">13:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">14:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">15:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                    <tr class="calendar-employee__row">
                        <td class="calendar-employee__time">16:00</td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                        <td class="calendar-employee__td"></td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
