@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <h1 class="page-title">Заказы</h1>
            <div class="top-menu">
                <a href="#" class="top-menu__item active">Календарь</a>
                <a href="#" class="top-menu__item">Список</a>
                <a href="#" class="top-menu__item">По сотрудникам</a>
            </div>
        </header>
        <main class="main">
            <div class="calendar-orders">
                <div class="calendars-wrap">
                    <div class="calendars">
                        <div><div class="calendar" data-date='{"year":2015,"month":3}'></div></div>
                        <div><div class="calendar" data-date='{"year":2015,"month":4}'></div></div>
                        <div><div class="calendar" data-date='{"year":2015,"month":5}'></div></div>
                        <div><div class="calendar" data-date='{"year":2015,"month":6}'></div></div>
                    </div>
                </div>
                <div class="order-calendar-employee dragscroll">
                    <table class="calendar-employee">
                        <tr class="calendar-employee__header">
                            <th class="calendar-employee__th calendar-employee__hours-col"></th>
                            <th class="calendar-employee__th calendar-employee__employee-col">
                                <div class="calendar-employee__th-inner">
                                    <div class="employee-table-preview">
                                        <img src="img/employee.jpg" alt="" class="employee-table-preview__img"><br>
                                        <span class="employee-table-preview__title">Сотрудник1</span>
                                    </div>
                                </div>
                            </th>
                            <th class="calendar-employee__th calendar-employee__employee-col">
                                <div class="calendar-employee__th-inner">
                                    <div class="employee-table-preview">
                                        <img src="img/employee.jpg" alt="" class="employee-table-preview__img"><br>
                                        <span class="employee-table-preview__title">Сотрудник2</span>
                                    </div>
                                </div>
                            </th>
                            <th class="calendar-employee__th calendar-employee__employee-col">
                                <div class="calendar-employee__th-inner">
                                    <div class="employee-table-preview">
                                        <img src="img/employee.jpg" alt="" class="employee-table-preview__img"><br>
                                        <span class="employee-table-preview__title">Сотрудник3</span>
                                    </div>
                                </div>
                            </th>
                            <th class="calendar-employee__th calendar-employee__employee-col">
                                <div class="calendar-employee__th-inner">
                                    <div class="employee-table-preview">
                                        <img src="img/employee.jpg" alt="" class="employee-table-preview__img"><br>
                                        <span class="employee-table-preview__title">Сотрудник4</span>
                                    </div>
                                </div>
                            </th>
                            <th class="calendar-employee__th calendar-employee__employee-col">
                                <div class="calendar-employee__th-inner">
                                    <div class="employee-table-preview">
                                        <img src="img/employee.jpg" alt="" class="employee-table-preview__img"><br>
                                        <span class="employee-table-preview__title">Сотрудник4</span>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">8:00</td>
                            <td class="calendar-employee__td">
                                <div class="calendar-event" data-from='{"hour":8, "min":0}' data-to='{"hour":10, "min":0}'>
                                    <header class="calendar-event__header">8:00  Новый сеанс</header>
                                    <p class="calendar-event__body">Заказ на 3 часа: окраска и стрижка женская</p>
                                </div>
                            </td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">9:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td">
                                <div class="calendar-event" data-from='{"hour":9, "min":0}' data-to='{"hour":11, "min":0}'>
                                    <header class="calendar-event__header">9:00 Повторный сеанс</header>
                                    <p class="calendar-event__body">Заказ на 2 часа: окраска и стрижка мужская</p>
                                </div>
                            </td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">10:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">11:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">12:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">13:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">14:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">15:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">15:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">16:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">17:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                        <tr class="calendar-employee__row">
                            <td class="calendar-employee__time">18:00</td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                            <td class="calendar-employee__td"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
