@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <a href="#" class="back-link"></a>
                <h1 class="page-title">Карточка публикации</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--border-black">Удалить</a>
            </div>
        </header>
        <main class="main">
            <div class="publish-single">
                <div class="preview-sect">
                    <div class="preview">
                        <div class="image-preview-wrap image-preview-wrap--big">
                            <img src="img/preview.jpg" alt="" class="image-preview">
                        </div>
                        <div class="preview-info-with-title">
                            <span class="preview-info__title">Кератиновое выпрямление</span>
                            <table class="preview-info">
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32"><span class="bold">Дата и время:</span> 24.11.2019 17:30</td>
                                    <td class="preview-info__col">Мастер-класс</td>
                                </tr>
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32"><span class="bold">Адрес:</span> ул. Лесная, д.3</td>
                                    <td class="preview-info__col">Салон “BeautyStar”</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="preview-btn-wrap">
                        <button class="button button--red">Редактировать</button>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Тип публикации</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="checkbox-row">
                            <label class="checkbox">
                                <input type="radio" name="status" checked value="1">
                                <span class="checkbox-mark"></span>Мастер-класс
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="status" value="2">
                                <span class="checkbox-mark"></span>Новость
                            </label>
                            <label class="checkbox">
                                <input type="radio" name="status" value="3">
                                <span class="checkbox-mark"></span>Рассылка
                            </label>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Описание</span>
                    </div>
                    <div class="content-sect__inner">
                        <textarea name="text" class="textarea" rows="2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                        </textarea>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Фотографии</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="image-uploader">
                            <div class="image-uploader__item">
                                <img src="img/uploader-1.jpg" alt="" class="image-uploader__image">
                                <input type="file" class="dn" name="image[]">
                                <a href="#" class="image-remove"></a>
                            </div>
                            <div class="image-uploader__item">
                                <div class="image-uploader__new-image">
                                    <div class="image-uploader__info">
                                        <span class="image-uploader__icon" style="background-image: url(img/plus.svg);"></span><br>
                                        <span class="image-uploader__info-text">Добавить</span>
                                    </div>
                                    <input class="dn upload-input" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Аудитория</span>
                    </div>
                    <div class="content-sect__inner">
                        <table class="common-info">
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Запуск рассылки</td>
                                <td class="common-info__col">
                                    <label class="checkbox">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--check"></span><span class="fz16">Отправить на модерацию</span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Геолокация аудитории</td>
                                <td class="common-info__col">
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="Геолокация" class="select w200">
                                            <option></option>
                                            <option value="1">Москва</option>
                                            <option value="1">Минск</option>
                                            <option value="1">Санкт-Питербург</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Пол</td>
                                <td class="common-info__col">
                                    <div class="checkbox-row">
                                        <label class="checkbox">
                                            <input type="radio" name="status" checked value="1">
                                            <span class="checkbox-mark"></span>Мужской
                                        </label>
                                        <label class="checkbox">
                                            <input type="radio" name="status" value="2">
                                            <span class="checkbox-mark"></span>Женский
                                        </label>
                                        <label class="checkbox">
                                            <input type="radio" name="status" value="3">
                                            <span class="checkbox-mark"></span>Любой
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Возраст</td>
                                <td class="common-info__col">
                                    <span class="mr32">
                                        <span class="select2-border">
                                            <select name="employee" data-placeholder="от --" class="select w100">
                                                <option></option>
                                                <option value="1">от 18</option>
                                                <option value="1">от 19</option>
                                                <option value="1">от 20</option>
                                            </select>
                                        </span>
                                    </span>
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="до --" class="select w100">
                                        <option></option>
                                        <option value="1">до 18</option>
                                        <option value="1">до 19</option>
                                        <option value="1">до 20</option>
                                    </select>
                                    </span>

                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Интересы</td>
                                <td class="common-info__col">
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="Интересы" class="select w200">
                                            <option></option>
                                            <option value="1">Красота</option>
                                            <option value="1">Мотоциклы</option>
                                            <option value="1">Автомобили</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Дата запуска</td>
                                <td class="common-info__col">
                                    <label class="input-arrow date-border">
                                        <input type="text" placeholder="дд.мм.гггг" class="date w90">
                                    </label>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col common-info__col--title">Дата окончания</td>
                                <td class="common-info__col">
                                    <label class="input-arrow date-border">
                                        <input type="text" placeholder="дд.мм.гггг" class="date w90">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
