@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Публикации</h1>
            </div>
            <div class="top-menu">
                <a href="#" class="top-menu__item active">Новости</a>
                <a href="#" class="top-menu__item">Мастер-классы</a>
                <a href="#" class="top-menu__item">Рассылка</a>
            </div>
        </header>
        <main class="main">
            <div class="publish-list">
                <form action="/" class="top-control">
                    <div class="filter-buttons-list">
                        <a href="#" class="filter-button active">Все</a>
                        <a href="#" class="filter-button">На модерации</a>
                        <a href="#" class="filter-button">Активные</a>
                        <a href="#" class="filter-button">Заблокированные</a>
                    </div>
                    <div class="top-control-btn-wrap">
                        <button class="button button--black">Добавить</button>
                    </div>
                </form>
                <div class="list">
                    <div class="list__content">
                        <div class="row">
                            <div class="col-6">
                                <div class="list-item mh240">
                                    <div class="list-item__img list-item__img--big">
                                        <img src="img/test.jpg" class="image" alt="">
                                    </div>
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Мастер-класс 24.11.2019 17:30</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Адрес: ул. Лесная, д.3 &nbsp; Салон “BeautyStar”</span>
                                        </div>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item mh240">
                                    <div class="list-item__img list-item__img--big">
                                        <img src="img/test.jpg" class="image" alt="">
                                    </div>
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Мастер-класс 24.11.2019 17:30</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Адрес: ул. Лесная, д.3 &nbsp; Салон “BeautyStar”</span>
                                        </div>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item mh240">
                                    <div class="list-item__img list-item__img--big">
                                        <img src="img/test.jpg" class="image" alt="">
                                    </div>
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Мастер-класс 24.11.2019 17:30</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Адрес: ул. Лесная, д.3 &nbsp; Салон “BeautyStar”</span>
                                        </div>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item mh240">
                                    <div class="list-item__img list-item__img--big">
                                        <img src="img/test.jpg" class="image" alt="">
                                    </div>
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Мастер-класс 24.11.2019 17:30</span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="list-item__row-text">Адрес: ул. Лесная, д.3 &nbsp; Салон “BeautyStar”</span>
                                        </div>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__bottom">
                        <nav class="pagination-wrap">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Пред.</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item ">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">След.</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
