@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Отзывы</h1>
            </div>
        </header>
        <main class="main">
            <div class="review-list">
                <form action="/" class="top-control">
                    <div class="date-created">
                        <span class="date-created__title">Дата написания c </span>
                        <label class="input-arrow">
                            <input type="text" placeholder="дд.мм.гггг" class="date-created__input date">
                        </label>
                        по
                        <div class="input-arrow">
                            <input type="text" placeholder="дд.мм.гггг" class="date-created__input date">
                        </div>
                    </div>
                    <div class="filter-select ml70">
                        <select name="test" data-placeholder="Выберите оценку" class="select select--no-border w150">
                            <option></option>
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="1">5</option>
                        </select>
                    </div>
                    <div class="filter-select ml70">
                        <select name="test" data-placeholder="Все отзывы" class="select select--no-border w150">
                            <option></option>
                            <option value="1">Положительные</option>
                            <option value="1">Отрицательные</option>
                        </select>
                    </div>
                    <div class="top-control-btn-wrap">
                        <button class="button button--black">Применить</button>
                    </div>
                </form>
                <div class="list">
                    <div class="list__content">
                        <div class="row">
                            <div class="col-6">
                                <div class="list-item">
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span><span class="status status--red ml10"></span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="rating" data-score="4"></span>
                                            <span class="list-item__row-text ml12">Алеся</span>
                                            <span class="list-item__row-text ml22">24.11.2019 17:30</span>
                                        </div>
                                        <table class="preview-info list-item__info">
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Дата и время:</span> 24.11.2019 17:30</td>
                                                <td class="preview-info__col">Мастер-класс</td>
                                            </tr>
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Адрес:</span> ул. Лесная, д.3</td>
                                                <td class="preview-info__col">Салон “BeautyStar”</td>
                                            </tr>
                                        </table>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular  book is a treatise on the theory of ethics.
                                        </p>
                                        <div class="list-item__controls">
                                            <a href="#" class="button button--black">Опубликовать</a>
                                            <a href="#" class="button button--border-black ml10">Пожаловаться</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item">
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span><span class="status status--green ml10"></span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="rating" data-score="4"></span>
                                            <span class="list-item__row-text ml12">Алеся</span>
                                            <span class="list-item__row-text ml22">24.11.2019 17:30</span>
                                        </div>
                                        <table class="preview-info list-item__info">
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Дата и время:</span> 24.11.2019 17:30</td>
                                                <td class="preview-info__col">Мастер-класс</td>
                                            </tr>
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Адрес:</span> ул. Лесная, д.3</td>
                                                <td class="preview-info__col">Салон “BeautyStar”</td>
                                            </tr>
                                        </table>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular  book is a treatise on the theory of ethics.
                                        </p>
                                        <div class="list-item__controls">
                                            <a href="#" class="button button--black">Опубликовать</a>
                                            <a href="#" class="button button--border-black ml10">Пожаловаться</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item">
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span><span class="status status--red ml10"></span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="rating" data-score="4"></span>
                                            <span class="list-item__row-text ml12">Алеся</span>
                                            <span class="list-item__row-text ml22">24.11.2019 17:30</span>
                                        </div>
                                        <table class="preview-info list-item__info">
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Дата и время:</span> 24.11.2019 17:30</td>
                                                <td class="preview-info__col">Мастер-класс</td>
                                            </tr>
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Адрес:</span> ул. Лесная, д.3</td>
                                                <td class="preview-info__col">Салон “BeautyStar”</td>
                                            </tr>
                                        </table>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular  book is a treatise on the theory of ethics.
                                        </p>
                                        <div class="list-item__controls">
                                            <a href="#" class="button button--black">Опубликовать</a>
                                            <a href="#" class="button button--border-black ml10">Пожаловаться</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-item">
                                    <div class="list-item__content">
                                        <div class="list-item__row">
                                            <span class="list-item__title">Кератиновое выпрямление</span><span class="status status--red ml10"></span>
                                        </div>
                                        <div class="list-item__row">
                                            <span class="rating" data-score="4"></span>
                                            <span class="list-item__row-text ml12">Алеся</span>
                                            <span class="list-item__row-text ml22">24.11.2019 17:30</span>
                                        </div>
                                        <table class="preview-info list-item__info">
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Дата и время:</span> 24.11.2019 17:30</td>
                                                <td class="preview-info__col">Мастер-класс</td>
                                            </tr>
                                            <tr class="preview-info__row">
                                                <td class="preview-info__col pr32"><span class="bold">Адрес:</span> ул. Лесная, д.3</td>
                                                <td class="preview-info__col">Салон “BeautyStar”</td>
                                            </tr>
                                        </table>
                                        <p class="list-item__text">
                                            Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular  book is a treatise on the theory of ethics.
                                        </p>
                                        <div class="list-item__controls">
                                            <a href="#" class="button button--black">Опубликовать</a>
                                            <a href="#" class="button button--border-black ml10">Пожаловаться</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__bottom">
                        <nav class="pagination-wrap">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Пред.</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item ">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">След.</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
