@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Карточка салона</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--red">Редактировать</a>
            </div>
        </header>
        <main class="main">
            <div class="services-single">
                <div class="preview-sect">
                    <div class="preview">
                        <div class="image-preview-wrap image-preview-wrap--big">
                            <img src="img/preview.jpg" alt="" class="image-preview">
                        </div>
                        <div class="preview-info-with-title">
                            <span class="preview-info__title">Кератиновое выпрямление</span> <span class="rating ml22" data-score="4"></span>
                            <table class="preview-info">
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32">Салон красоты</td>
                                    <td class="preview-info__col">Время работы: с 9:00 до 23:00</td>
                                </tr>
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32">Адрес: Скрыганова 6а</td>
                                    <td class="preview-info__col">Станции метро:
                                        <span class="metro-list">
                                            <span class="metro-item">
                                                Автозаводская
                                                <span class="metro-item__mark"  style="background-color: #3BAD39"></span>
                                                <span class="metro-item__mark"  style="background-color: #D71515"></span>
                                            </span>
                                            <span class="metro-item">
                                                Дубровка
                                                <span class="metro-item__mark"  style="background-color: #519ADE"></span>
                                            </span>
                                            <span class="metro-item">
                                                Кожуховская
                                                <span class="metro-item__mark"  style="background-color: #EFA7A7"></span>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">О салоне</span>
                    </div>
                    <div class="content-sect__inner">
                        <p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        </p>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Сотрудники</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="person-list">
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Онлайн-запись</span>
                    </div>
                    <table class="table">
                        <tr class="table-header">
                            <th class="table-header__item">Название услуги</th>
                            <th class="table-header__item">Мастер</th>
                            <th class="table-header__item">Минимальная цена, руб.</th>
                        </tr>
                        <tr class="table-body">
                            <td class="table-body__item tac"> Eleanor Mccoy</td>
                            <td class="table-body__item tac">Lorem ipsum</td>
                            <td class="table-body__item">
                            <span class="df jcsb">
                                5000
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
