@@include('./parts/header.html')
<script src="https://api-maps.yandex.ru/2.1/?apikey=1888d523-0c7c-4180-8bb7-7489afc9c71d&lang=ru_RU" type="text/javascript"></script>
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Карточка салона</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--red">Cохранить</a>
            </div>
        </header>
        <main class="main">
            <div class="services-single">
                <div class="preview-sect">
                    <div class="preview">
                        <div class="image-preview-wrap image-preview-wrap--big">
                            <img src="img/preview.jpg" alt="" class="image-preview">
                        </div>
                        <div class="preview-info-with-title">
                            <span class="preview-info__title">Центр красоты премиум-класса</span> <span class="rating ml22" data-score="4"></span>
                            <table class="preview-info">
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32"><input type="text" class="input" value="Салон красоты"></td>
                                    <td class="preview-info__col">Время работы: с 9:00 до 23:00</td>
                                </tr>
                                <tr class="preview-info__row">
                                    <td class="preview-info__col pr32">Адрес:
                                        <a href="#" data-toggle="modal" data-target="#mapModal" id="address" class="address">Скрыганова 6а</a>
                                        <input type="hidden" id="latitude" name="">
                                        <input type="hidden" id="longitude" name="">
                                    </td>
                                    <td class="preview-info__col">
                                        <div class="select-constructor">
                                            <div class="select-constructor__control">
                                                <span class="select-constructor__title">Станции метро:</span>
                                                <select name="employee" data-placeholder="Выберите станцию" class="w190 select-constructor__select select select--no-border">
                                                    <option></option>
                                                    <option value="1" data-type="metro">Автозаводская</option>
                                                    <option value="1" data-type="metro">Дубровка</option>
                                                    <option value="1" data-type="metro">Кожуховская</option>
                                                </select>
                                                <button class="button button--black select-constructor__control-btn">Добавить</button>
                                            </div>
                                            <div class="select-constructor__content">
                                                <div class="string-constructor-list">
                                                    <span class="string-constructor-item select-constructor__item">Автозаводская
                                                        <a href="#" class="image-remove string-constructor-item__remove"></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">О салоне</span>
                    </div>
                    <div class="content-sect__inner">
                        <p class="text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        </p>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Сотрудники</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="person-list">
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                            <div class="person-item">
                                <div class="person-item__img-wrap">
                                    <img src="img/test.jpg" alt="" class="image border-round">
                                </div>
                                <span class="person-item__text">Анастасия<br>Константинопольская</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Онлайн-запись</span>
                    </div>
                    <table class="table">
                        <tr class="table-header">
                            <th class="table-header__item">Название услуги</th>
                            <th class="table-header__item">Мастер</th>
                            <th class="table-header__item">Минимальная цена, руб.</th>
                        </tr>
                        <tr class="table-body">
                            <td class="table-body__item tac"> Eleanor Mccoy</td>
                            <td class="table-body__item tac">Lorem ipsum</td>
                            <td class="table-body__item">
                            <span class="df jcsb">
                                5000
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </span>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- Map -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered map-container" role="document">
        <div class="modal-content">
            <button type="button" class="map-container__close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body ">
                <div class="map-container__save"><button id="save-addr" class="button button--red">Сохранить адрес</button></div>
                <div id="map" style="width: 100%; height: 560px"></div>
            </div>
        </div>
    </div>
</div>
@@include('./parts/footer.html')
