@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <a href="#" class="back-link"></a>
                <h1 class="page-title">Карточка услуги</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--red">Сохранить</a>
            </div>
        </header>
        <main class="main">
            <div class="services-single">
                <div class="content-sect">
                    <div class="content-sect__inner">
                        <table class="preview-info no-margin">
                            <tr class="preview-info__row">
                                <td class="preview-info__col pr32"><span class="bold">Название услуги</span></td>
                                <td class="preview-info__col">Сложное окрашивание (омбре)</td>
                            </tr>
                            <tr class="preview-info__row">
                                <td class="preview-info__col pr32"><span class="bold">Минимальная цена, руб.</span></td>
                                <td class="preview-info__col"><input type="text" class="input-border maw80 tac" value="900"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Описание</span>
                    </div>
                    <div class="content-sect__inner">
                        <textarea name="text" class="textarea" rows="2">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered
                        </textarea>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Сотрудники</span>
                    </div>
                    <div class="content-sect__inner">
                        <div class="select-constructor">
                            <div class="select-constructor__control">
                                <select name="employee" data-placeholder="Выберите сотрудника" class="w190 select-constructor__select select select--no-border">
                                    <option></option>
                                    <option value="1" data-type="person" data-image="img/test.jpg">Анастасия Константинопольская</option>
                                    <option value="2" data-type="person" data-image="img/test.jpg">Алина  Шарапова</option>
                                    <option value="3" data-type="person" data-image="img/test.jpg">Анна  Абрамова</option>
                                    <option value="4" data-type="person" data-image="img/test.jpg">Евгения  Анипольская</option>
                                </select>
                                <button class="button button--black select-constructor__control-btn">Добавить</button>
                            </div>
                            <div class="select-constructor__content">
                                <div class="person-list">
                                    <div class="person-item select-constructor__item">
                                        <div class="person-item__img-wrap">
                                            <img src="img/test.jpg" alt="" class="image border-round">
                                            <a href="#" class="image-remove person-item__remove"></a>
                                        </div>
                                        <span class="person-item__text">Анастасия<br>Константинопольская</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Онлайн-запись</span>
                    </div>
                    <div class="content-sect__inner">
                        <table class="common-info">
                            <tr class="common-info__row">
                                <td class="common-info__col"><span class="bold fz16">Онлайн-запись</span></td>
                                <td class="common-info__col">
                                    <label class="checkbox">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--check"></span><span class="fz16">Разрешить онлайн-запись</span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col"><span class="bold fz16">Время начала поиска сеансов</span></td>
                                <td class="common-info__col">
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="--" class="select w90">
                                            <option></option>
                                            <option value="1">8:00</option>
                                            <option value="2">9:00</option>
                                            <option value="3">10:00</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col"><span class="bold fz16">Время окончания поиска сеансов</span></td>
                                <td class="common-info__col">
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="--" class="select w90">
                                            <option></option>
                                            <option value="1">8:00</option>
                                            <option value="2">9:00</option>
                                            <option value="3">10:00</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                            <tr class="common-info__row">
                                <td class="common-info__col"><span class="bold fz16">Шаг вывода сеансов, мин.</span></td>
                                <td class="common-info__col">
                                    <span class="select2-border">
                                        <select name="employee" data-placeholder="--" class="select w90">
                                            <option></option>
                                            <option value="1">15:00</option>
                                            <option value="2">20:00</option>
                                            <option value="3">25:00</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="content-sect">
                    <div class="content-sect__title-wrap">
                        <span class="content-sect__title">Даты записи</span>
                    </div>
                    <div class="content-sect__inner">
                        <label class="checkbox">
                            <input type="checkbox" name="status" checked value="1">
                            <span class="checkbox-mark checkbox-mark--check"></span><span class="fz16">Установить даты без онлайн-записи</span>
                        </label>
                        <div class="calendar-recording">
                            <div class="calendar calendar-recording__item" data-date='{"year":2020, "month": 6}'></div>
                            <div class="calendar calendar-recording__item" data-date='{"year":2020, "month": 6}'></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
