@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Услуги</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--black">Добавить услугу</a>
            </div>
        </header>
        <main class="main">
                <div class="services">
                    <div class="services__menu">
                        <ul class="accordion-menu">
                            <li class="accordion-menu__item">
                                <button class="accordion-menu__btn" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">Макияж</button>
                                <div class="accordion-menu__content collapse show" id="collapse1">
                                    <ul class="accordion-submenu">
                                        <li class="accordion-submenu__item active">
                                            <a href="#" class="accordion-submenu__link">Восстановление</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Окрашивание</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Стрижка</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Укладка</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-menu__item">
                                <button class="accordion-menu__btn" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">Ногтевой сервис</button>
                                <div class="accordion-menu__content collapse" id="collapse2">
                                    <ul class="accordion-submenu">
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Восстановление</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Окрашивание</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Стрижка</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Укладка</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-menu__item">
                                <button class="accordion-menu__btn" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">Парикмахерская сфера</button>
                                <div class="accordion-menu__content collapse" id="collapse3">
                                    <ul class="accordion-submenu">
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Восстановление</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Окрашивание</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Стрижка</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Укладка</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="accordion-menu__item">
                                <button class="accordion-menu__btn" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">СПА-процедуры</button>
                                <div class="accordion-menu__content collapse" id="collapse4">
                                    <ul class="accordion-submenu">
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Восстановление</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Окрашивание</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Стрижка</a>
                                        </li>
                                        <li class="accordion-submenu__item">
                                            <a href="#" class="accordion-submenu__link">Укладка</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="services__table">
                        <table class="table services-table">
                            <tr class="table-header">
                                <th class="table-header__item">Название услуги</th>
                                <th class="table-header__item w180">Онлайн-запись</th>
                                <th class="table-header__item w180">Начало поиска</th>
                                <th class="table-header__item w180">Конец поиска</th>
                                <th class="table-header__item w320">Минимальная<br> цена, руб.</th>
                            </tr>
                            <tr class="table-body">
                                <td class="table-body__item">Сложное окрашивание (омбре)</td>
                                <td class="table-body__item tac">
                                    <label class="checkbox jcc">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--gray checkbox-mark--check"></span>
                                    </label>
                                </td>
                                <td class="table-body__item tac">9:00</td>
                                <td class="table-body__item tac">18:00</td>
                                <td class="table-body__item">
                                    <span class="df jcsb">
                                        1500
                                        <span class="control-links">
                                            <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                            <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="table-body">
                                <td class="table-body__item">Сложное окрашивание (омбре)</td>
                                <td class="table-body__item tac">
                                    <label class="checkbox jcc">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--gray checkbox-mark--check"></span>
                                    </label>
                                </td>
                                <td class="table-body__item tac">9:00</td>
                                <td class="table-body__item tac">18:00</td>
                                <td class="table-body__item">
                                    <span class="df jcsb">
                                        1500
                                        <span class="control-links">
                                            <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                            <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="table-body">
                                <td class="table-body__item">Сложное окрашивание (омбре)</td>
                                <td class="table-body__item tac">
                                    <label class="checkbox jcc">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--gray checkbox-mark--check"></span>
                                    </label>
                                </td>
                                <td class="table-body__item tac">9:00</td>
                                <td class="table-body__item tac">18:00</td>
                                <td class="table-body__item">
                                    <span class="df jcsb">
                                        1500
                                        <span class="control-links">
                                            <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                            <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr class="table-body">
                                <td class="table-body__item">Сложное окрашивание (омбре)</td>
                                <td class="table-body__item tac">
                                    <label class="checkbox jcc">
                                        <input type="checkbox" name="status" checked value="1">
                                        <span class="checkbox-mark checkbox-mark--gray checkbox-mark--check"></span>
                                    </label>
                                </td>
                                <td class="table-body__item tac">9:00</td>
                                <td class="table-body__item tac">18:00</td>
                                <td class="table-body__item">
                                    <span class="df jcsb">
                                        1500
                                        <span class="control-links">
                                            <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                            <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
