@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <a href="#" class="back-link"></a>
                <h1 class="page-title">Карточка пользователя</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--red">Сохранить</a>
            </div>
        </header>
        <main class="main">
            <div class="user-single">
                <div class="preview aifs">
                    <div class="image-preview-wrap image-preview-wrap--big ">
                        <img src="img/preview.jpg" alt="" class="image-preview">
                        <div class="new-image"></div>
                        <input type="file" class="upload-single-input">
                        <a href="#" class="image-remove"></a>
                    </div>
                    <div class="user-single-form">
                        <div class="row mb30">
                            <div class="col-3">
                                <label class="two-spike-input">
                                    <span class="two-spike-input__title">Имя фамилия</span><br>
                                    <input type="text" class="two-spike-input__input input" placeholder="Введите имя и фамилию пользователя">
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="two-spike-input">
                                    <span class="two-spike-input__title">Телефон</span><br>
                                    <input type="text" class="two-spike-input__input input phone" placeholder="+7 (___) ___-__-__">
                                </label>
                            </div>
                        </div>
                        <div class="row mb30">
                            <div class="col-3">
                                <label class="two-spike-input">
                                    <span class="two-spike-input__title">Роль пользователя</span><br>
                                    <select type="text" class="two-spike-input__input select" data-placeholder="Выберите роль">
                                        <option></option>
                                        <option value="1">Администратор</option>
                                        <option value="2">Модератор</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-3">
                                <label class="two-spike-input">
                                    <span class="two-spike-input__title">Email</span><br>
                                    <input type="text" class="two-spike-input__input input" placeholder="Введите Email">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
