@@include('./parts/header.html')
<div class="wrapper">
    @@include('./parts/sidebar.html')
    <div class="content">
        <header class="header">
            <div class="back-wrap">
                <h1 class="page-title">Публикации</h1>
            </div>
            <div class="top-buttons">
                <a href="#" class="button button--black">Добавить</a>
            </div>
        </header>
        <main class="main">
            <div class="users-list">
                <div class="top-control">
                    <form action="/" class="search-form">
                        <label class="search-form__label">
                            <input type="text" class="search-form__input" placeholder="Введите должность">
                        </label>
                        <button class="search-form__submit">Найти</button>
                    </form>
                </div>
                <div class="list">
                    <div class="list__content">
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="list-item__img list-item__img--big">
                                <img src="img/test.jpg" class="image" alt="">
                            </div>
                            <div class="list-item__content">
                                <div class="list-item__row mb10">
                                    <span class="list-item__title">Мария Иванова</span>
                                </div>
                                <div class="list-item__row">
                                    <span class="list-item__row-text"><span class="bold">Роль: </span> Администратор</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Номер телефона: </span>+375336993456</span>
                                    <span class="list-item__row-text ml100"><span class="bold">Email: </span>sasha@gmail.com</span>
                                </div>
                            </div>
                            <div class="list-item__control">
                                <span class="control-links">
                                    <a href="#" class="control-links__item" style="background-image:url(img/edit.svg);"></a>
                                    <a href="#" class="control-links__item" style="background-image:url(img/trash.svg);"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="list__bottom">
                        <nav class="pagination-wrap">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Пред.</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item ">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">След.</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@@include('./parts/footer.html')
