*
  outline: none!important

body
  +font-family('Roboto')
  color: $black
  font-size: 14px
  overflow: hidden

html,body,.wrapper,.content, .scroll-content
  height: 100%

.scroll-content
  overflow: hidden

.main
  height: calc(100% - 80px)
  overflow: auto
  position: relative

.preview-sect
  margin-bottom: 50px
  padding: 0 32px
  display: flex

.image
  display: inline-block
  width: 100%
  height: 100%
  object-fit: cover

.border-round
  border-radius: 100%

.content-sect
  margin-bottom: 32px
  &__inner
    padding: 0 32px
  &__title-wrap
    margin-bottom: 19px
  &__title
    display: inline-block
    color: #ffffff
    background: $black
    padding: 4px 32px
    min-width: 152px
    border-radius: 0 25px 25px 0

.checkbox
  user-select: none
  margin-bottom: 0
  line-height: 21px
  display: flex
  align-items: center
  & > input
    display: none
  & > input:checked + .checkbox-mark
    background-image: url('../img/checked.svg')
    &--check
      background-image: url('../img/check.svg')

.jcc .checkbox-mark
  margin-right: 0

.checkbox-mark
  display: inline-block
  width: 16px
  height: 16px
  background-position: 50%
  background-image: url('../img/unchecked.svg')
  background-repeat: no-repeat
  vertical-align: middle
  margin-right: 8px
  margin-top: -1px
  &--check
    width: 24px
    height: 24px
    background-image: none
    background-color: #000
  &--gray
    background-color: $font-gray

.textarea
  width: 100%
  border: 1px solid #D8D8D8
  border-radius: 4px
  padding: 8px
  color: $font-gray

//buttons
.button
  display: inline-block
  text-decoration: none!important
  min-width: 160px
  text-align: center
  border-radius: 30px
  font-weight: 500
  padding: 5px 10px
  transition: .2s
  border: 2px solid transparent
  &--border-black
    border-color: $black
    color: $black!important
  &--black
    background: #000
    color: #fff!important
  &--red
    background: $red
    color: #fff!important
  &--border-black:hover
    background: #efefef
  &--red:hover
    background: lighten($red,5)
  &--black:hover
    background: lighten(#000,25)

.df
  display: flex!important


//sizes
.w320
  width: 320px

.w250
  width: 250px

.w200
  width: 200px

.w190
  width: 190px

.w180
  width: 180px

.w160
  width: 160px

.w150
  width: 160px

.w120
  width: 120px

.w100
  width: 100px

.w90
  width: 90px

.w80
  width: 80px

.maw400
  max-width: 400px !important

.maw80
  max-width: 80px

.maw60
  max-width: 60px

.mr90
  margin-right: 90px

.mr50
  margin-right: 50px

.mr40
  margin-right: 40px

.mr32
  margin-right: 32px

.mt25
  margin-top: 25px

.mt7
  margin-top: 7px

.ml70
  margin-left: 70px

.mb10
  margin-bottom: 10px!important

.mb30
  margin-bottom: 30px

.ml100
  margin-left: 100px

.ml12
  margin-left: 12px

.ml10
  margin-left: 10px

.ml22
  margin-left: 22px

.mla
  margin-left: auto

.no-margin
  margin: 0 !important

.pt25
  padding-top: 25px

.pr32
  padding-right: 32px

.mh240
  min-height: 240px

.font-gray
  color: $font-gray

//position
.aifs
  align-items: flex-start!important

.jcc
  justify-content: center

.dn
  display: none

.fg1
  flex-grow: 1

.jcsb
  justify-content: space-between

.jcfe
  justify-content: flex-end

.jcfs
  justify-content: flex-start

.tac
  text-align: center

//style
.bold
  font-weight: 500

//fonts
.fz16
  font-size: 16px

.nw
  white-space: nowrap