.header
  height: 80px
  flex-shrink: 0
  padding: 0 0 0 32px
  display: flex
  align-items: center
  justify-content: space-between
  position: relative
  box-shadow: 7px 2px 16px rgba(79, 79, 79, 0.16)

.page-title
  display: inline-block
  margin: 0
  padding: 0
  font-weight: 500
  font-size: 20px

.main
  flex-grow: 1
  padding: 32px 0 0 0

.wrapper
  display: flex
  min-height: 100vh

.content
  flex-grow: 1
  display: flex
  flex-direction: column
  overflow-x: hidden

.collapse-menu-btn
  width: 24px
  height: 20px
  position: relative
  cursor: pointer
  margin: 0 24px
  transition: .2s
  &:hover
    transform: scale(1.1)
  &:before
    content: ''
    top: 0
  &:after
    content: ''
    bottom: 0
  &:before, &:after, &__inner
    display: block
    position: absolute
    height: 2px
    background: $black
    width: 100%
    border-radius: 10px
    transition: width .1s
  &__inner
    top: 50%
    margin-top: -1px

.menu
  list-style-type: none
  margin: 0
  padding: 20px 0 0
  &__link
    position: relative
    height: 40px
    display: flex
    align-items: center
    border-left: 2px solid transparent
    text-decoration: none!important
    &:before
      content: ''
      position: absolute
      width: 12px
      height: 1px
      left: -2px
      background: $black
  &__link:hover &__icon
    transform: scale(1.15)
  &__icon
    width: 70px
    height: 100%
    background-repeat: no-repeat
    background-position: 50% 50%
    transition: .1s
  &__item.active &__link:before
    width: 22px
  &__item.active &__link
    border-color: $black
    background: #f5f5f5
  &__text
    display: inline-block
    transition: .2s
    max-width: 300px
    overflow: hidden
    white-space: nowrap
    padding-right: 20px
    color: $black


.collapse-menu
  .menu
    &__text
      max-width: 0
      padding-right: 0
  .collapse-menu-btn
    &__inner
      width: 80%

.sidebar
  position: relative
  z-index: 20
  padding: 30px 0
  box-shadow: 0px 2px 16px rgba(79, 79, 79, 0.16)

.top-menu
  display: flex
  align-self: flex-end
  &__item
    display: block
    font-size: 16px
    min-width: 256px
    padding: 15px
    text-align: center
    background: $gray
    border: 1px solid #D8D8D8
    color: $font-gray!important
    text-decoration: none !important
    transition: color .2s
    &.active
      background: #fff
      box-shadow: 0px -6px 16px rgba(79, 79, 79, 0.16)
      color: $black!important
    &:not(.active):hover
      background: lighten($gray,1)

.slick-arrow
  width: 12px
  height: 24px
  overflow: hidden
  position: absolute
  border: 0
  top: 50%
  transform: translateY(-50%)
  outline: none!important
  transition: .2s
  &:after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background-repeat: no-repeat
    background-position: 50%
    background-color: #fff

.slick-prev
  left: -30px
  &:hover
    transform: translate(-3px, -50%) scale(1.1)
  &:after
    background-image: url(../img/left-arrow.svg)

.slick-next
  right: -30px
  &:hover
    transform: translate(3px, -50%) scale(1.1)
  &:after
    background-image: url(../img/right-arrow.svg)

.calendars-wrap
  width: 800px
  padding: 0 40px
  margin: 0 auto


.zabuto_calendar
  background: #F2F2F2
  padding: 10px
  border: 1px solid #E0E0E0
  .table
    width: 100%
    text-align: center
    min-height: 200px
  .day
    font-size: 10px
    color: #8B8B8B
    line-height: 24px
    position: relative
    z-index: 2
  .calendar-dow-header
    th
      font-size: 10px
      color: #8B8B8B
  .calendar-month-header
    color: #8B8B8B
    font-weight: 500
    font-size: 16px
  .event
    position: relative
    & .day
      color: #fff
    &:before
      content: ''
      position: absolute
      background: $red
      width: 22px
      height: 22px
      left: 50%
      top: 50%
      margin-top: -.5px
      transform: translate(-50%, -50%)
      border-radius: 100%

.calendars .slick-current + .slick-active
  box-shadow: 0px 2px 16px rgba(79, 79, 79, 0.16)

.calendars .slick-current + .slick-active .zabuto_calendar
  background: #fff
  border-left: 0
  border-right: 0

.calendar-orders
  padding-top: 16px
  
.order-calendar-employee
  position: relative
  border-top: 8px solid #efefef
  margin-top: 46px
  overflow-x: auto

.calendar-event
  position: absolute
  left: 5px
  top: 5px
  right: 5px
  z-index: 10
  box-shadow: 0px 2px 16px rgba(79, 79, 79, 0.16)
  background: #fff
  &__header
    background: $black
    font-size: 16px
    color: #f2f2f2
    padding: 8px 12px
    border-radius: 3px 3px 0 0
  &__body
    padding: 12px
    margin: 0

.calendar-employee
  &__th
    padding: 12px 0
  &__th-inner
    border-left: 1px solid #D8D8D8
  &__th:last-child &__th-inner
    border-right: 1px solid #D8D8D8
  &__time
    font-size: 16px
    line-height: 16px
    padding: 17px 0 17px 16px
    background: #f6f6f6
  &__td, &__time
    border: 1px solid #D8D8D8
  &__td
    position: relative

.employee-table-preview
  text-align: center
  &__img
    width: 48px
    height: 48px
    border-radius: 100%
    display: inline-block
    margin-bottom: 10px
  &__title
    font-size: 14px
    font-weight: 400
    color: #717171

.date-created
  font-size: 16px
  &__title
    display: inline-block
  &__input
    display: inline-block
    margin-left: 10px
    color: #717171
    width: 84px



.order-list-img-wrap
  display: inline-block
  width: 40px
  height: 40px
  margin-right: 9px
  vertical-align: middle

.order-list-img
  display: inline-block
  width: 100%
  height: 100%
  border-radius: 100%
  object-fit: cover

.control-links
  vertical-align: middle
  display: flex
  align-items: center
  flex-basis: 50%
  flex-shrink: 0
  justify-content: flex-end
  &__item
    display: inline-block
    border: 0
    width: 20px
    height: 20px
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: contain
    transition: .2s
    background-color: transparent !important
    &:hover
      transform: scale(1.1)
  &__item + &__item
    margin-left: 18px

.trash-form
  margin: 5px 0 0 15px
  background-color: transparent
  .control-links
    &__item
      height: 22px

.order-top
  padding: 0 25px 35px 32px
  margin-bottom: 25px
  position: relative
  background: #fff
  &__inner
    position: relative
    z-index: 10
  &:before
    content: ''
    position: absolute
    height: 50%
    bottom: 0
    left: 0
    right: 0
    box-shadow: 7px -3px 32px rgba(79, 79, 79, 0.16)
    z-index: -1

.order-employee-top
  display: flex

.order-employee-calendar
  width: 250px
  padding: 8px 20px 8px 0
  border-right: 1px solid #D8D8D8
  flex-shrink: 0

.order-employee-slider-wrap
  padding: 0 100px
  flex-grow: 1
  overflow: hidden

.order-employee-slider
  & .slick-prev
    left: -50px
  &__title
    display: block
    text-align: center
    margin-bottom: 20px
    font-weight: 500
    font-size: 18px
  &--no-slider
    display: flex
    justify-content: space-between

.order-employee-slider-list
  list-style-type: none
  padding: 0
  margin: 0
  &__item
    margin-bottom: 16px
  &__link
    font-size: 14px
    color: $font-gray
    text-decoration: none!important
    transition: .2s
    display: inline-block
    &:hover
      color: lighten($font-gray, 10)
    &.active
      color: #000!important

.image-preview-wrap
  display: flex
  position: relative
  & .image-remove
    right: 2px
    top: -2px
  &--big
    width: 104px
    height: 104px

.image-preview
  width: 100%
  height: 100%
  object-fit: cover
  border-radius: 100%

.preview
  display: flex
  //align-items: center

.checkbox-row
  display: flex

.checkbox + .checkbox
  margin-left: 32px

.back-link
  display: inline-block
  width: 40px
  height: 40px
  background: url('../img/back.svg') 50% 50% no-repeat
  margin-right: 10px
  transition: .2s
  &:hover
    transform: translateX(-2px)

.back-wrap
  display: flex
  align-items: center

.preview-btn-wrap
  margin-left: auto

.top-buttons
  margin-right: 32px

.top-control
  padding: 0 32px
  display: flex
  align-items: center

.top-control-btn-wrap
  padding-left: 10px
  margin-left: auto

.list
  padding: 0 32px
  margin: 32px 0

.list-item
  display: flex
  background: #FFFFFF
  box-shadow: 0px 2px 16px rgba(79, 79, 79, 0.16)
  border-radius: 16px
  margin-bottom: 30px
  text-decoration: none !important
  color: $black!important
  &__row
    margin-bottom: 6px
    display: flex
    align-items: center
  &__content
    padding: 18px
  &__title
    font-weight: 500
    font-size: 20px
    line-height: 24px
  &__row-text
    font-size: 16px
    color: #000000
  &__text
    margin: 12px 0 16px
    color: $font-gray
  &__info
    margin: 8px 0
  &__img
    border-radius: 16px 0 0 16px
    overflow: hidden
    flex-shrink: 0
  &__img--big
    width: 104px
    flex-basis: 104px
  &__control
    display: flex
    align-items: center
    margin-left: auto
    padding-right: 22px

.rating
  margin-top: -4px
  display: inline-block
  vertical-align: text-bottom

.pagination-wrap
  display: flex
  justify-content: flex-end
  margin-top: 32px

.status
  display: inline-block
  width: 12px
  height: 12px
  border-radius: 100%
  vertical-align: middle
  &--red
    background: $red
  &--green
    background: #008600

.filter-button
  display: inline-block
  border: 2px solid #000000
  border-radius: 24px
  font-weight: 500
  padding: 4px 24px
  color: $black !important
  text-decoration: none !important
  & + &
    margin-left: 12px
  &.active
    background: #000
    color: #fff!important
  &:hover
    background: #efefef
  &.active:hover
    background: lighten(#000,25)

.filter-buttons-list
  display: flex
  margin-right: 15px

.employee-list
  display: flex
  flex-wrap: wrap

.employee-item
  text-decoration: none!important
  min-width: 364px
  min-height: 140px
  margin-right: 30px
  color: $black!important

.search-form
  display: flex
  border: 1px solid #717171
  box-sizing: border-box
  border-radius: 99px
  padding: 4px 4px 4px 0
  justify-content: space-between
  width: 534px
  &__label
    display: inline-block
    width: 100%
    padding-left: 50px
    margin: 0
    background: url("../img/search.svg") 10px 50% no-repeat
  &__input
    font-size: 16px
    height: 100%
    display: inline-block
    width: 100%
  &__submit
    background: #323232
    border-radius: 24px
    border: none
    display: inline-block
    padding: 5px 24px
    color: #ffffff
    margin-left: 6px

.staff-content
  padding: 20px

.services
  display: flex
  margin-top: -32px
  &__menu
    flex: 0 0 290px
    padding-right: 27px
  &__table
    flex-grow: 1

.accordion-menu
  list-style-type: none
  padding: 0
  margin: 0
  &__add
    font-weight: 500
    font-size: 16px
    color: $black!important
    text-decoration: none !important
    margin-left: 16px
    &--scope
      display: block
      padding-top: 14px
      padding-bottom: 14px
    &:before
      content: '+'
      display: inline-block
      margin-right: 7px
    & + .accordion-menu__content
      padding-top: 8px
  &__btn
    display: block
    width: 100%
    text-align: left
    border: 0
    background-color: transparent
    padding: 14px 16px
    position: relative
    font-weight: 500
    font-size: 16px
    &:after
      content: ''
      width: 12px
      height: 8px
      position: absolute
      background: url("../img/arrow-down.png") 50% no-repeat
      top: 50%
      margin: -4px 0 0 5px
      transition: .1s
    &.show-collapse
      &:after
        transform: rotate(180deg)

  &__item
    border-bottom: 1px solid #D8D8D8
  &__content
    padding: 0 0 12px 16px

.accordion-submenu
  list-style-type: none
  margin: 0
  padding: 0
  &__link
    text-decoration: none !important
    color: #000 !important
    display: block
    padding: 1px 16px
  &__item.active &__link
    background: $black
    color: #fff !important
  &__item
    margin-bottom: 5px

.services-table
  box-shadow: -5px 5px 24px rgba(79, 79, 79, 0.1)

.user-single
  padding: 0 32px

.new-image
  display: none
  width: 72px
  height: 72px
  margin: auto
  background: url("../img/plus.svg") 50% no-repeat $font-gray
  border-radius: 100%
  cursor: pointer

.image-select
  & .new-image
    display: block
  & img
    display: none
  & .image-remove
    display: none

.upload-single-input
  display: none

.user-single-form
  padding-left: 55px

.two-spike-input
  display: block
  position: relative
  &__input
    padding-left: 0
    font-size: 14px
    width: 100%
    & + .select2
      & .select2-selection__rendered
        font-size: 14px!important
        padding-left: 0 !important

.user-single-form
  flex-grow: 1

.select-constructor
  display: inline-block
  &__control-btn
    margin-left: 20px


.person-list
  padding: 20px 0 0
  display: flex
  flex-wrap: wrap
  margin-bottom: -20px

.person-item
  border-radius: 100%
  display: flex
  align-items: center
  margin: 0 48px 20px 0
  &__img-wrap
    width: 72px
    height: 72px
    position: relative
    flex-shrink: 0
    margin-right: 10px
  &__remove
    right: -2px
    top: 1px

.calendar-recording
  display: flex
  padding-top: 24px
  &__item
    width: 365px
    box-shadow: 7px 2px 16px rgba(79, 79, 79, 0.16)
    & + &
      margin-left: 24px
    & .zabuto_calendar
      background: #ffffff
      & .day
        font-size: 12px
        line-height: 40px
      & th
        font-size: 12px
        line-height: 40px
  & .calendar-month-header
    position: relative
    & > td
      text-transform: uppercase
      color: #000000
    & > td:first-child > div > span, & > td:last-child > div > span
      cursor: pointer
      display: block
      width: 45px
      height: 24px
    & > td:first-child
      background: url("../img/left-calendar.svg") 50% no-repeat
    & > td:last-child
      background: url("../img/right-calendar.svg") 50% no-repeat
  & .zabuto_calendar .event:before
    background: #000
    width: 38px
    height: 38px

.user-info
  &__row
    display: flex
    align-items: center
    margin: 0 0 8px 24px
    font-size: 16px

.metro-list
  display: inline-block
  margin: 0 0 -10px 10px

.metro-item
  padding-right: 16px
  display: inline-block
  font-size: 16px
  border-right: 1px solid $font-gray
  line-height: 16px
  margin: 0 10px 10px 0
  &:last-child
    border: 0
    padding-right: 0
    margin-right: 0
  &__mark
    width: 16px
    height: 16px
    display: inline-block
    vertical-align: middle
    border-radius: 100%
    margin: -1px 0 0 8px

.text
  color: $font-gray

.address
  font-size: 16px
  text-decoration: underline
  color: $black!important
  font-weight: 600

.string-constructor-list
  margin: 20px 0 -10px

.string-constructor-item
  display: inline-block
  color: $font-gray
  position: relative
  font-size: 16px
  margin-bottom: 10px
  &+&
    margin-left: 14px
  &__remove
    position: static
    display: inline-block
    vertical-align: middle
    margin: -2px 0 0 6px

.map-container
  position: relative
  &__save
    position: absolute
    left: 0
    right: 0
    bottom: 35px
    text-align: center
    z-index: 10000
  &__close
    position: absolute
    z-index: 10000
    width: 50px
    height: 50px
    right: 0
    top: 0
    background-color: transparent
    border: 0
    & > span
      display: inline-block
      transform: scale(2)

.invalid-feedback
  position: absolute
  color: $red
  width: 100%
  left: 2px
  top: calc(100% - 1px)
  line-height: 6px
  font-size: 10px
  margin-top: 3px

.modal-inner
  padding-top: 25px

.modal-trash-control
  margin-top: 20px
  display: flex
  justify-content: space-between

.new-category
  background: $black
  margin-left: 16px
  margin-bottom: 6px
  &__item
    background: $black
    color: #ffffff
    padding: 3px 6px

.login
  display: flex
  min-height: 100vh
  &__logo
    display: block
    padding: 15px
    margin: auto
  &__left
    display: flex
    flex: 1 0
    background: $black
  &__right
    display: flex
    flex-basis: 380px
    width: 380px
    padding: 24px

.login-form
  width: 100%
  margin: auto
  &__title
    display: block
    text-align: center
    font-weight: 500
    font-size: 20px
    margin-bottom: 24px
  &__text
    display: inline-block
    font-size: 16px
    font-weight: 500
  &__row
    display: block
    width: 100%
    margin-bottom: 30px
  &__input
    display: block
    border: 1px solid #717171
    border-radius: 4px
    width: 100%
    font-size: 16px
    padding: 6px 5px
  &__button
    width: 100%
    margin-top: 10px


.order-create
  padding: 26px 0 0 32px
  &__title
    display: inline-block
    margin-right: 20px
    font-weight: 500
    font-size: 16px

.event
  cursor: pointer

.calendar-orders-employee-js tr
  cursor: pointer

.feedback-wrap
  position: relative
  margin: 0
  display: inline-block
  width: 100%
  &--auto
    width: auto

.login-error
  color: $red
  display: inline-block
  margin-top: -21px
  position: absolute