<aside class="sidebar">
    <div class="collapse-menu-btn">
        <span class="collapse-menu-btn__inner"></span>
    </div>
    <nav class="menu-wrap">
        <ul class="menu">
            <li class="menu__item active">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/folder.svg)"></span>
                    <span class="menu__text">Заказы</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/review.svg)"></span>
                    <span class="menu__text">Отзывы</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/persons.svg)"></span>
                    <span class="menu__text">Клиенты</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/bell.svg)"></span>
                    <span class="menu__text">Публикации</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/house.svg)"></span>
                    <span class="menu__text">Профиль салона</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/settings.svg)"></span>
                    <span class="menu__text">Управление услугами</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__icon" style="background-image: url(img/employee.svg)"></span>
                    <span class="menu__text">Сотрудники</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>