// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$240px-p-n-g-transparency-demonstration-1-name: '240px-PNG_transparency_demonstration_1'
$240px-p-n-g-transparency-demonstration-1-x: 1026px
$240px-p-n-g-transparency-demonstration-1-y: 0px
$240px-p-n-g-transparency-demonstration-1-offset-x: -1026px
$240px-p-n-g-transparency-demonstration-1-offset-y: 0px
$240px-p-n-g-transparency-demonstration-1-width: 240px
$240px-p-n-g-transparency-demonstration-1-height: 180px
$240px-p-n-g-transparency-demonstration-1-total-width: 1266px
$240px-p-n-g-transparency-demonstration-1-total-height: 1025px
$240px-p-n-g-transparency-demonstration-1-image: '../img/sprite.png'
$240px-p-n-g-transparency-demonstration-1: (1026px, 0px, -1026px, 0px, 240px, 180px, 1266px, 1025px, '../img/sprite.png', '240px-PNG_transparency_demonstration_1', )
$-small-mario-name: 'Small-mario'
$-small-mario-x: 513px
$-small-mario-y: 513px
$-small-mario-offset-x: -513px
$-small-mario-offset-y: -513px
$-small-mario-width: 381px
$-small-mario-height: 480px
$-small-mario-total-width: 1266px
$-small-mario-total-height: 1025px
$-small-mario-image: '../img/sprite.png'
$-small-mario: (513px, 513px, -513px, -513px, 381px, 480px, 1266px, 1025px, '../img/sprite.png', 'Small-mario', )
$alphabet-u-png-7-name: 'alphabet-u-png-7'
$alphabet-u-png-7-x: 0px
$alphabet-u-png-7-y: 0px
$alphabet-u-png-7-offset-x: 0px
$alphabet-u-png-7-offset-y: 0px
$alphabet-u-png-7-width: 512px
$alphabet-u-png-7-height: 512px
$alphabet-u-png-7-total-width: 1266px
$alphabet-u-png-7-total-height: 1025px
$alphabet-u-png-7-image: '../img/sprite.png'
$alphabet-u-png-7: (0px, 0px, 0px, 0px, 512px, 512px, 1266px, 1025px, '../img/sprite.png', 'alphabet-u-png-7', )
$blue-eye-png-4-name: 'blue-eye-png-4'
$blue-eye-png-4-x: 0px
$blue-eye-png-4-y: 513px
$blue-eye-png-4-offset-x: 0px
$blue-eye-png-4-offset-y: -513px
$blue-eye-png-4-width: 512px
$blue-eye-png-4-height: 512px
$blue-eye-png-4-total-width: 1266px
$blue-eye-png-4-total-height: 1025px
$blue-eye-png-4-image: '../img/sprite.png'
$blue-eye-png-4: (0px, 513px, 0px, -513px, 512px, 512px, 1266px, 1025px, '../img/sprite.png', 'blue-eye-png-4', )
$blue-letter-a-png-name: 'blue-letter-a-png'
$blue-letter-a-png-x: 513px
$blue-letter-a-png-y: 0px
$blue-letter-a-png-offset-x: -513px
$blue-letter-a-png-offset-y: 0px
$blue-letter-a-png-width: 512px
$blue-letter-a-png-height: 512px
$blue-letter-a-png-total-width: 1266px
$blue-letter-a-png-total-height: 1025px
$blue-letter-a-png-image: '../img/sprite.png'
$blue-letter-a-png: (513px, 0px, -513px, 0px, 512px, 512px, 1266px, 1025px, '../img/sprite.png', 'blue-letter-a-png', )
$spritesheet-width: 1266px
$spritesheet-height: 1025px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($240px-p-n-g-transparency-demonstration-1, $-small-mario, $alphabet-u-png-7, $blue-eye-png-4, $blue-letter-a-png, )
$spritesheet: (1266px, 1025px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
