.icon
  display: inline-block
  width: 1em
  height: 1em
  fill: currentColor


.icon-concept
  font-size: (512/10)*1rem
  width: (512/512)*1em

.icon-flink_logotypes
  font-size: (803.173/10)*1rem
  width: (799.736/803.173)*1em

.icon-metrics
  font-size: (512/10)*1rem
  width: (512/512)*1em

